/* General style */
@font-face {
    font-family: BYekan;
    src: url("fonts/BYekan.eot") format('eot'),
    url("fonts/BYekan.ttf") format('ttf'),
    url("fonts/BYekan.woff") format('woff');
}

html, body, #main {
    font-family: BYekan;
    font-size: 14px;
    direction: rtl;
    text-align: right;
    height: 100%;
    min-height: 100%;
}

a {
    color: #162738;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}

h1, h2, h3, h4 {
    font-family: BYekan;
    color: #34495e;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w50p {
    width: 50%;
}

.m30p {
    margin: 30px !important;
}
.m10p {
    margin: 10px !important;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.fwc {
    width: 960px;
    margin: 0 auto;
}

/*-----------------button----------------------*/
.btn {
    border: 1px solid #1c69bf;
    border-bottom-width: 3px !important;
    border-right-width: 2px !important;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #3898b5;
    color: white;
    font-family: BYekan;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    margin: 5px;
}

.btn:hover {
    color: white;
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 2px;
}

.btn-green {
    background-color: #77b55a;
    border: 1px solid #4b8f29;
}
.btn-blue {
    background-color: #3898b5;
    border: 1px solid #1c69bf;
}

.btn-orange {
    background-color: #cfa503;
    border: 1px solid #8f5432;
}

.btn-red {
    background-color: #cf4b10;
    border: 1px solid #8f5412;
}

.btn-silver {
    background-color: #d4d8d2;
    border: 1px solid #adadab;
    color: #6b6b6b !important;
}

/*---------------------Navigation Meno---------------------*/
header nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    line-height: 55px;
    border-bottom: 1px solid #a6c1c7;
    z-index: 9999999;

    /*gradiant generator (replace by image): http: / / www . colorzilla . com /gradient-editor/ background: #f2f5f6;*/
    /*background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f5f6), color-stop(37%, #e3eaed), color-stop(100%, #c8d7dc));*/
    /*background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);*/
    /*background: -o-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);*/
    /*background: -ms-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);*/
    /*background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=0);*/
    /*replaced by an image:*/
    background: #f2f5f6 url("images/bgNav.png") repeat-x;

}

header nav #topMenu {
    background: transparent url("images/logo.png") no-repeat left 5px;
}

header nav #topMenu ul {
    list-style: none;
}

header nav #topMenu ul li {
    display: inline-block;
}

header nav #topMenu ul li a {
    font-size: 20px;
    padding: 0px 15px;
}

header nav #topMenu .active {
    background-color: #ffffff;
    color: #1abcdc;
    border-radius: 60px;
    padding-bottom: 2px;
}

/*-----------------------slider----------------*/
.sliderWrapper {
    width: 100%;
    height: 100%;
    min-height: 400px;
    background: transparent url("images/slide1.jpg") no-repeat;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slider {
    height: 100%;
}

#slider .slide-text {
    background-color: white;
    border-radius: 3px;
    font-family: BYekan, "Times New Roman";
    font-size: 20px;
    padding: 10px 20px 12px 20px;
    display: inline-block;
}

/*-------------------row common style---------------*/
.rowContainer {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.row {
    padding: 80px 0 30px 0 !important;
}

.white {
    background-color: white;
}

.silver {
    background-color: #f2f2f2;
}

/*---------------row1---------------*/
.title1 {
}

.title1 h2, .title1 p.lead {
    color: #34495e;
}

.title1 h2 {
    font-size: 40px;
}

.title1 p.lead {
    font-size: 16px;
    margin-top: 16px;
    font-family: BYekan;
}

#row1 .cantent1 {
    margin-top: 20px;
}

.box1 {
    width: 33%;
    float: right;
    padding: 12px;
    box-sizing: border-box;
    line-height: 20px;
}
.box1 h3{
    margin: 5px 0 3px 0;
    font-size: 20px;
}
.box1 img.rotate:hover{
    opacity: 0.8;
}
/*--------------row2---------------*/
#row2 .content2{

}
#row2 .content2 h3{
    font-size:40px;
    margin:30px;
 }
#row2 .content2 p{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin: 30px;
}
#row2 .row{
    padding-bottom: 0 !important;
}

/*-------------------row3-----------------*/
#row3 .box1 img{
    border-radius: 200px;
    border: 5px solid #cccccc;
    width: 180px;
    height: 180px;
}
#row3 .box1:hover img{
    border: 5px solid #aaaaaa;
}
/*---------------row4-------------------*/
#row4{
    background: transparent url("images/bg3.png");
}
#row4 h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
#row4 input:not(.btn),#row4 textarea{
    font-size: 18px;
    text-align: right;
    color: #354149;
    font-weight: bold;
    font-family: BYekan;
    width: 70%;
    border: 3px solid #cccccc;
    border-radius: 2px;
    padding:5px 10px ;
    display: block;
    margin: 0 auto;
}

#row4 input:focus, #row4 textarea:focus{
    border-color: #89bccc;
    outline: none;
}
#row4 div .info{
    line-height: 20px;
    margin-top: 5px;
    font-size: 14px;
    color: #234158;
}
#row4 div.info span.bold{
    color:#7E692A;
}
.social{
    margin: 80px auto;
    text-align: center;
    line-height: 50px;
}
.social ul{
    list-style: none;
    margin-right: 40px;
}
.social ul li, .social ul li a{
    display: inline-block;
}
.social ul li a{
    width: 36px;
    height: 36px;
    margin-right: 5px;
    transition-property: background;
    transition-duration: 0.4s;
}
.social ul li a.facebook{
    background: transparent url("images/snw.png")no-repeat -45px -3px;
}
.social ul li a.facebook:hover{
    background: transparent url("images/snw.png")no-repeat -3px -3px;
}
.social ul li a.twiter{
    background: transparent url("images/snw.png")no-repeat -129px -3px;
}
.social ul li a.twiter:hover{
    background: transparent url("images/snw.png")no-repeat -87px -3px;
}
.social ul li a.google-plus{
    background: transparent url("images/snw.png")no-repeat -213px -3px;
}
.social ul li a.google-plus:hover{
    background: transparent url("images/snw.png")no-repeat -171px -3px;
}

/*---------------footer---------------*/
footer{
    height: 50px;
    font-size: 16px;
    border-color:#ecf0f1;
}
footer p{
    text-align: center;
    line-height: 45px;
    color: #516a77;
}













